# Gradle
.gradle/
build/
versions/*/build/
versions/*/src/
!versions/*/gradle.properties
out/

# Stonecutter
.stonecutter/

# Dev client
run/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/
bin/

# Visual Studio Code
.vscode/

# Operating system
.DS_Store
Thumbs.db
tools/cache/
run-server/

# Python
__pycache__/
